numpy
selenium 
scikit-learn
benfordslaw
pandas_datareader
yfinance
iexfinance
scipy==1.10.0
influxdb
matplotlib
keras
sympy==1.6.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.2.0
